target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
# https://github.com/takari/maven-wrapper#usage-without-binary-jar
.mvn/wrapper/maven-wrapper.jar

# Eclipse
.project
.classpath
.settings/
bin/

# Gradle
.gradle/
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/

# IDEs
.idea/
.vscode/
out/
*.iml
*.iws
*.ipr

# Runtime
run/
logs/
crash-reports/
debug.log

# OS specific
.DS_Store
Thumbs.db

# Extracted Minecraft Source Code
/Better Friends/net/
/Better Friends/com/mojang/
/Better Friends/assets/minecraft/
/Better Friends/data/minecraft/
/Better Friends/META-INF/
/Better Friends/flightrecorder-config.jfc
/Better Friends/version.json
.mcassetsroot
